body,
html{
    max-height:70%;
    min-height:100%;
}

body {
      background-image: url(../images/back.jpg);
      background-size: cover;
    /*background-color:#5b1923;*/
}

p {
/*font-family: 'Josefin Slab', serif;*/
font-family: 'Stint Ultra Condensed', cursive;
letter-spacing: 2px;
font-size: 20px;
color: #e3c91e;
padding-top: 30px;
}
