body {
background-color: #1c1c1c;
}

.letter-wrapper{
    width:90;
    height:120;
    margin-left:100;
    margin-top:50;
    margin-bottom:50;
    float:left;
}

.letter-wrapper-q{
    width:90;
    height:150;
    margin-left:100;
    margin-top:50;
    margin-bottom:20;
    float:Left;
}

.letter-wrapper-com{
    width:90;
    height:150;
    margin-left:100;
    margin-top:50;
    margin-bottom:20;
    float:Left;
}

.letter-wrapper-semico{
    width:90;
    height:150;
    margin-left:100;
    margin-top:50;
    margin-bottom:20;
    float:Left;
}

.letter-wrapper:hover .letter {
    opacity: 1;
}

.letter{
    width:90;
    height:120;
    opacity: 1;
}

.pixel{
    width:30;
    height:30;
    background-color: #fff; 
    float:left;
}

.off {
    opacity:0;
}

.letter {
    -webkit-transition: opacity, 300ms, ease-in;
       -moz-transition: opacity, 300ms, ease-in;
         -o-transition: opacity, 300ms, ease-in;
            transition: opacity, 300ms, ease-in;
    width:90;
    height:150;
    opacity: 0.05;
}

.show {
    opacity: 1;
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}
