body {
      background-image: url("../images/Bak_2.png");
      background-repeat:no-repeat;
      background-position:center;
      /*background-color:blue;*/
}

#GMO{
      position:center;
}

.GET{
      font-size:80px;
}

.ME{
      font-size:80px;
}

.OUT{
      font-size:80px;
}