body {
      background-image: url("../images/Bak_2.png");
      background-repeat:no-repeat;
      background-position:center;
}

#GMO{
      position:center;
}

.GET{
      font-size:80px;
      font-family: "Arial Black", Gadget, sans-serif
}

.ME{
      font-size:80px;
      font-family: "Arial Black", Gadget, sans-serif
}

.OUT{
      font-size:80px;
      font-family: "Arial Black", Gadget, sans-serif
}