body {
      background-image: url("../images/Bak_2.png");

      background-repeat:no-repeat;
      background-position:center;
}

#GMO{
      vertical-align: auto;
      text-align:center;
      /*margin: 0 auto;*/
}

.GET{
      height:120px;
      color:#f6f6f6;
      font-size:100px;
      font-family: "Arial Black", Gadget, sans-serif
      
}

.GET:hover{
      height:120px;
      color:#60b3cb;
      font-size:100px;
      font-family: "Arial Black", Gadget, sans-serif
}

.ME{
      font-size:80px;
      color:#f6f6f6;
      font-family: "Arial Black", Gadget, sans-serif
}

.ME:hover{
      color:#f3c24d;
      font-size:80px;
      font-family: "Arial Black", Gadget, sans-serif
}

a:link {
    text-decoration: none;
}

.OUT{
      font-size:60px;
      color:#f6f6f6;
      font-family: "Arial Black", Gadget, sans-serif
}

.OUT:hover{
      color:#db1045;
      font-size:60px;
      font-family: "Arial Black", Gadget, sans-serif
}